


body{
    max-width: 1024px;
    margin: auto;
    background-image: url(./ImatgeNoticies/periodico.jpg);
    }


        .menu {
			display: inline-flex;
			list-style:none;
            padding: 0px 0px 0px 5px;
			

		}

		.izq {
			position: absolute;
			top: 15px;
			left: 950px;;
		}


		.menu a {
			padding: 5px;
			color: rgb(15, 10, 0);
            text-decoration:none;
            background-color: wheat;
            border:  2px solid black;
		}

		.menu a:hover {
			padding: 5px;
			color: pink;
        }

        hr {
            background-color: rgb(231, 13, 13);
            height: 8px;
            margin: 0px 0 0 -2px;
            border:  rgb(231, 13, 13);
          }  
        
    .noti{
       
    background-color: wheat;
    padding: 10px 10px 10px 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: justify;
    line-height:23px;
    padding: 0px 14px 3px 10px;
    margin-bottom: 37px;
    width: 700px;
    }
       

        .vl {
    border-left: 8px solid rgb(231, 13, 13);
    height: 1024px;
}       


h1{
    font-style: oblique;
    text-shadow: 1px 1px black;
    text-decoration: underline;
    padding: 0 50px;
    background-color: tomato;
    color: white;
    width: 417px;
}

h3{
    font-style: oblique;
    text-shadow: 1px 1px red;
    text-decoration: underline;
    text-align: center;
   
}

footer{
    color: white;
    text-align: center;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    width: 300px;
    margin: 0 0 0 185px;
   
}
